body
{
    background-color: #000;
    background-image: url(../img/soa_kirito.jpg);
    background-size: cover;
}
#moon
{
    height: 50px;
    width: 50px;
    background-color: #fff;
    position: fixed;
    /* top: 50px;
    left: 50px; */
    /* opacity: .3; */
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(255,255,255,.8);
    animation: moveMoon 4s ease infinite;
}
#moon::after
{
    content: "";
    height: 50px;
    width: 50px;
    background-color: #000;
    position: fixed;
    top: 20px;
    left: 28px;
    /* opacity: .3; */
    /* visibility: hidden; */
    opacity: 0;
    border-radius: 50%;
    box-shadow: -20px -40px -100px rgba(0,0,0,1);
    z-index: -1;
}

@keyframes moveMoon
{
    0%
    {
        top: 250px;
        left: 20px;
    }
    25%
    {
        top: 200px;
        left: 250px;
    }
    50%
    {
        top: 150px;
        left: 512px;
    }
    75%
    {
        top: 200px;
        left: 780px;
    }
    100%
    {
        top: 250px;
        left: 1100px;
    }
}